* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


html,
body {

    width: 100%;
    min-height: 100%;

}


body {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    color: white;

    overflow-x: hidden;

    background: #050505;

}


/* ==========================
   BACKGROUND
========================== */


.background {

    position: fixed;

    inset: 0;

    z-index: -2;


    background:

    linear-gradient(
        90deg,
        rgba(0,0,0,.95) 0%,
        rgba(0,0,0,.70) 45%,
        rgba(0,0,0,.80) 100%
    ),

    url("assets/background.jpg");


    background-size: cover;

    background-position: center;

    animation: zoomBackground 15s infinite alternate;

}



.background::after {

    content:"";

    position:absolute;

    inset:0;


    background:

    radial-gradient(
        circle at center,
        transparent 10%,
        rgba(0,0,0,.75)
    );

}

@keyframes zoomBackground {


    from {

        transform: scale(1);

    }


    to {

        transform: scale(1.08);

    }


}



/* ==========================
   CONTAINER
========================== */


.container {

    width:100%;

    max-width:430px;

    padding:25px;


    animation: fadeUp 1s ease forwards;

}



@keyframes fadeUp {


    from {

        opacity:0;

        transform:translateY(40px);

    }


    to {

        opacity:1;

        transform:translateY(0);

    }


}



/* ==========================
   BRAND AREA
========================== */


.logo-area {

    text-align:center;

    margin-bottom:35px;

}



.brand-tag {

    display:inline-flex;

    align-items:center;

    justify-content:center;


    padding:9px 25px;


    border:1px solid #d1121f;


    border-radius:50px;


    color:#ff3344;


    font-size:11px;


    font-weight:900;


    letter-spacing:5px;


    background:

    rgba(209,18,31,.12);


    box-shadow:

    0 0 20px rgba(209,18,31,.5);


    margin-bottom:25px;

}



@keyframes pulseGlow {


    0% {

        box-shadow:
        0 0 10px rgba(217,164,65,.2);

    }


    50% {

        box-shadow:
        0 0 35px rgba(217,164,65,.65);

    }


    100% {

        box-shadow:
        0 0 10px rgba(217,164,65,.2);

    }


}




.logo-area h1 {


    font-size:65px;


    line-height:.85;


    font-weight:900;


    letter-spacing:10px;


    color:white;


    text-shadow:

    0 0 30px rgba(255,255,255,.25);


}



.logo-area h1 span {


    display:block;


    margin-top:18px;


    font-size:25px;


    letter-spacing:12px;


    color:#d9a441;



}




.logo-area p {


    margin-top:25px;


    color:#bdbdbd;


    font-size:11px;


    letter-spacing:6px;


}



/* ==========================
   REGISTER CARD
========================== */


.register-card {


    padding:35px 30px;


    border-radius:30px;


    background:

    rgba(255,255,255,.08);


    border:

    1px solid rgba(255,255,255,.15);


    backdrop-filter:blur(20px);



    box-shadow:

    0 25px 80px rgba(0,0,0,.8);



}



.card-header {


    text-align:center;

    margin-bottom:30px;


}



.card-header h2 {


    font-size:22px;


    letter-spacing:4px;


    font-weight:800;


}



.card-header p {


    margin-top:12px;


    color:#aaa;


    font-size:13px;


}



/* ==========================
   INPUT
========================== */


.input-box {


    margin-bottom:22px;


}



.input-box label {


    display:block;


    margin-bottom:8px;


    font-size:11px;


    letter-spacing:3px;


    color:#d9a441;


}



.input-box input {


    width:100%;


    padding:16px;


    border-radius:15px;


    outline:none;


    border:

    1px solid rgba(255,255,255,.2);



    background:

    rgba(0,0,0,.45);


    color:white;


    font-size:14px;


}



.input-box input::placeholder {


    color:#777;


}



.input-box input:focus {


    border-color:#d9a441;


    box-shadow:

    0 0 15px rgba(217,164,65,.35);


}



/* ==========================
   BUTTON
========================== */


button {


    width:100%;


    padding:17px;


    margin-top:10px;


    border:none;


    border-radius:50px;


    cursor:pointer;


    font-weight:900;


    letter-spacing:4px;



    background:

    linear-gradient(

        90deg,

        #b8862d,

        #ffd978

    );


    color:#050505;



    transition:.3s;


}



button:hover {


    transform:

    translateY(-3px);



    box-shadow:

    0 15px 35px rgba(217,164,65,.5);


}



/* ==========================
   LOGIN LINK
========================== */


.login-link {


    text-align:center;


    margin-top:25px;


    color:#aaa;


    font-size:13px;


}



.login-link a {


    color:#d9a441;


    text-decoration:none;


    font-weight:700;


}



/* ==========================
   MOBILE
========================== */


@media(max-width:480px){


    .container {

        padding:20px;

    }



    .logo-area h1 {


        font-size:48px;


        letter-spacing:7px;


    }



    .logo-area h1 span {


        font-size:18px;


        letter-spacing:7px;


    }



    .register-card {


        padding:28px 22px;


    }


}
.dashboard h1{

text-align:center;

font-size:32px;

margin:20px 0;

}



.ticket{

margin:25px 0;

padding:20px;

text-align:center;

border-radius:20px;

background:

rgba(0,0,0,.4);

}


.ticket p{

color:#aaa;

font-size:12px;

letter-spacing:3px;

}



.ticket h3{

color:#d9a441;

font-size:30px;

}



.status{

text-align:center;

margin:20px 0;

letter-spacing:3px;

color:#aaa;

}



.status strong{

color:#ff3344;

font-size:18px;

}



.qr{

height:150px;

width:150px;

margin:20px auto;

background:white;

}

/* DASHBOARD */


.dashboard{

text-align:center;

}



.dashboard h2{

letter-spacing:5px;

}



.dashboard h1{

margin:15px 0;

font-size:34px;

}



.ticket-box,
.status-box,
.draw-box{


background:

rgba(0,0,0,.35);


padding:20px;


border-radius:20px;


margin:20px 0;


}



.ticket-box p,
.status-box p,
.qr-box p,
.draw-box p{


font-size:11px;


letter-spacing:3px;


color:#aaa;


}



.ticket-box h3{


font-size:32px;


color:#d9a441;


}




.status-box strong{


font-size:20px;


color:#ff3344;


}



#qrcode{


background:white;


padding:10px;


width:max-content;


margin:20px auto;


border-radius:15px;


}




.draw-box h3{


color:#ff3344;


margin:10px;


}



.draw-box span{


font-size:12px;


color:#aaa;


}

/* =========================
 MERCHANDISE PAGE
========================= */


.merch-page{

    max-width:900px;

}



.product-grid{

    display:grid;

    grid-template-columns:repeat(
    auto-fit,
    minmax(220px,1fr)
    );

    gap:20px;

    margin-top:30px;

}



.product-card{

    background:

    rgba(255,255,255,.05);


    border:

    1px solid rgba(255,255,255,.15);


    border-radius:20px;


    padding:25px;


    text-align:center;


    backdrop-filter:blur(15px);


    transition:.3s;


}



.product-card:hover{


    transform:translateY(-8px);


    border-color:#d1121f;


    box-shadow:

    0 0 30px rgba(209,18,31,.35);


}




.product-card h3{


    color:white;


    letter-spacing:2px;


}



.price{


    font-size:25px;


    font-weight:800;


    color:#d1121f;


    margin:15px 0;


}



.product-card span{


    display:block;


    color:#aaa;


    font-size:13px;


    margin-bottom:20px;


}



.product-card select{


    width:100%;


    padding:12px;


    margin:8px 0;


    border-radius:10px;


    background:#111;


    color:white;


    border:1px solid #333;


}





.product-card button{


    margin-top:15px;


}






/* CART */


.cart-box{


    margin-top:40px;


    padding:6px;


    border-radius:20px;


    background:

    rgba(0,0,0,.45);


    border:

    1px solid rgba(255,255,255,.15);


}




.cart-item{


    display:flex;


    justify-content:space-between;


    align-items:center;


    padding:12px 0;


    border-bottom:

    1px solid rgba(255,255,255,.1);


    color:white;


}




.cart-item button{


    background:#d1121f;


    width:8px;


    height:8px;


    padding:0;


    border-radius:50%;


}




@media(max-width:600px){


.product-grid{


grid-template-columns:1fr;


}


}

.qty-box{

margin-top:15px;

}



.qty-box label{

display:block;

font-size:12px;

color:#aaa;

margin-bottom:5px;

}



.qty-box input{

width:80px;

padding:10px;

text-align:center;

border-radius:10px;

background:#111;

border:1px solid #333;

color:white;

font-size:16px;

}

/* =========================
   ORDER SUMMARY
========================= */


.summary-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-top:15px;

    padding:8px 0;

    font-size:18px;

    font-weight:700;

    color:white;

}



.summary-row strong{

    color:#d1121f;

    font-size:18px;

    font-weight:800;

}



.summary-row span{

    color:white;

}
